<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#page-top"><img src="Images/GNFLogo.png" class="my-brand"> GatesNFences</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Driveway Gates</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Modern Driveway Gates</a></li>
                        <li><a class="dropdown-item" href="#">Custom Driveway Gates</a></li>
                        <li><a class="dropdown-item" href="#">Privacy Driveway Gates</a></li>
                      </ul>               
                    </li>
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Garden Gates</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Modern Garden Gates</a></li>
                        <li><a class="dropdown-item" href="./gateListView.html">Privacy Garden Gates</a></li>
                      </ul>                 
                    </li>
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Fencing</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Fencing 2</a></li>
                      </ul>                 
                    </li>
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Railings</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Modern Balcony Railings</a></li>
                      </ul>                 
                    </li>                           
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Openers - Operators</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Ramset</a></li>
                        <li><a class="dropdown-item" href="#">FAAC</a></li>
                        <li><a class="dropdown-item" href="#">Apollo</a></li>
                        <li><a class="dropdown-item" href="#">BFT</a></li>
                        <li><a class="dropdown-item" href="#">Power Master</a></li>
                        <li><a class="dropdown-item" href="#">Platinum Gate Openers</a></li>
                        <li><a class="dropdown-item" href="#">Liftmaster</a></li>
                        <li><a class="dropdown-item" href="#">Elite</a></li>
                        <li><a class="dropdown-item" href="#">Doorking</a></li>
                        <li><a class="dropdown-item" href="#">OSCO</a></li>
                        <li><a class="dropdown-item" href="#">Allstar</a></li>
                        <li><a class="dropdown-item" href="#">Viking</a></li>
                        <li><a class="dropdown-item" href="#">Eagle</a></li>
                        <li><a class="dropdown-item" href="#">SEA</a></li>
                        <li><a class="dropdown-item" href="#">Hysecurity</a></li>
                      </ul>                 
                    </li>
                    <a class="dropdown-item" href="#">Main Control Boards</a>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Remote Controls</a><ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Multi-Code</a></li>
                        <li><a class="dropdown-item" href="#">Transmitter Solutions</a></li>
                        <li><a class="dropdown-item" href="#">Linear</a></li>
                        <li><a class="dropdown-item" href="#">Liftmaster</a></li>
                        <li><a class="dropdown-item" href="#">Doorking</a></li>
                        <li><a class="dropdown-item" href="#">Keystron - Heddolf</a></li>
                        <li><a class="dropdown-item" href="#">BFT - SEA - FAAC</a></li>
                        <li><a class="dropdown-item" href="#">Long Range</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Recievers</a><ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Linear / Multi-Code</a></li>
                        <li><a class="dropdown-item" href="#">Doorking</a></li>
                        <li><a class="dropdown-item" href="#">Liftmaster</a></li>
                        <li><a class="dropdown-item" href="#">Keystron - Heddolf</a></li>
                        <li><a class="dropdown-item" href="#">Long Range</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Telephone Entry</a><ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Select Engineering</a></li>
                        <li><a class="dropdown-item" href="#">American Access System</a></li>
                        <li><a class="dropdown-item" href="#">Doorking</a></li>                      
                        <li><a class="dropdown-item" href="#">Liftmaster</a></li>
                        <li><a class="dropdown-item" href="#">Sentex</a></li>
                        <li><a class="dropdown-item" href="#">Elite</a></li>
                        <li><a class="dropdown-item" href="#">Linear</a></li>
                        <li><a class="dropdown-item" href="#">IP Voice Over Internet</a></li>
                        <li><a class="dropdown-item" href="#">Readers</a></li>
                        <li><a class="dropdown-item" href="#">Keypads</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Safety Equipment</a><ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Safety Loops</a></li>
                        <li><a class="dropdown-item" href="#">Loop Detector </a></li>
                        <li><a class="dropdown-item" href="#">Safety Photo Cell</a></li>                      
                      </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Gate Accessories</a><ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Cantilever Wheels</a></li>
                        <li><a class="dropdown-item" href="#">VTrack-Guide-VWheels</a></li>
                        <li><a class="dropdown-item" href="#">Hinges</a></li>                      
                      </ul>
                    </li>
                    <a class="dropdown-item" href="#">Locks-Latches</a>
                  </ul>
              </ul>
              <ul class="navbar-nav ml-auto">
                </li>
                <li class="nav-item"><a class="nav-link" href="#aboutUs">About Us</a></li> 
                <li class="nav-item"><a class="nav-link" href="#contactUs">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#ourPolicies">Our Policies</a></li>
                <li class="nav-item"><a class="nav-link" href="#manufacturers">Manufacturers</a></li>
              </ul>
          </div>
        </div>
      </nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="main.js"></script>
