<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html">Gates N Fences</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Driveway Gates</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Modern Driveway Gates</a></li>
                            <li><a class="dropdown-item" href="#">Custom Driveway Gates</a></li>
                            <li><a class="dropdown-item" href="#">Privacy Driveway Gates</a></li>
                        </ul>								
                    </li>
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Garden Gates</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Modern Garden Gates</a></li>
                            <li><a class="dropdown-item" href="#">Privacy Garden Gates</a></li>
                        </ul>									
                    </li>
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Fencing</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Fencing 2</a></li>
                        </ul>									
                    </li>
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Railings</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Modern Balcony Railings</a></li>
                        </ul>									
                    </li>														
                    <li class="dropdown-submenu" href="#"><a class="dropdown-item dropdown-toggle" href="#">Openers - Operators</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Ramset</a></li>
                            <li><a class="dropdown-item" href="#">FAAC</a></li>
                            <li><a class="dropdown-item" href="#">Apollo</a></li>
                            <li><a class="dropdown-item" href="#">BFT</a></li>
                            <li><a class="dropdown-item" href="#">Power Master</a></li>
                            <li><a class="dropdown-item" href="#">Platinum Gate Openers</a></li>
                            <li><a class="dropdown-item" href="#">Liftmaster</a></li>
                            <li><a class="dropdown-item" href="#">Elite</a></li>
                            <li><a class="dropdown-item" href="#">Doorking</a></li>
                            <li><a class="dropdown-item" href="#">OSCO</a></li>
                            <li><a class="dropdown-item" href="#">Allstar</a></li>
                            <li><a class="dropdown-item" href="#">Viking</a></li>
                            <li><a class="dropdown-item" href="#">Eagle</a></li>
                            <li><a class="dropdown-item" href="#">SEA</a></li>
                            <li><a class="dropdown-item" href="#">Hysecurity</a></li>
                        </ul>									
                    </li>
                    <a class="dropdown-item" href="#">Openers - Operators</a>
                    <a class="dropdown-item" href="#">Main Control Boards</a>
                    <a class="dropdown-item" href="#">Remote Controls</a>
                    <a class="dropdown-item" href="#">Receivers</a>
                    <a class="dropdown-item" href="#">Telephone Entry</a>
                    <a class="dropdown-item" href="#">Saftey Equipment</a>
                    <a class="dropdown-item" href="#">Gate Accessories</a>
                    <a class="dropdown-item" href="#">Gate Operator Parts</a>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>	
            <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Our Policies</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Manufactures</a></li>
        </ul>
    </div>		
</nav>