#body-styling {
    /*background-color: #f9f9f9;*/
    background-image: url(assets/noisy-texture.png);
    font-family: 'Bree Serif', serif;
}
  
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.column-content {
  padding: 15px 0px 3px 0px;
  text-align: center;
  color: black;
  /*background-color: #282828;*/
  background-image: url(assets/noisy-texture.png);
  /*border-radius: 25px;*/
  /*border: 2px solid white;*/
}

/* Add a gray background color and some padding to the footer #d1d8d1*/
footer {
  background-color: #f2f2f2;
  padding: 25px;
}   

.construction{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-block-start: 10%;
    padding-block-end: 25%;
}

.image-content {
    width:          256px;
    height:         360px;
    border-radius:  10px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 25px;
    color: black;
}

.card {
    height: 450px;
    width: 300px;
}

#card-body {
    background-image: url(assets/white_marble_2.jpg);
    padding: 5px;
}

#padded-right {
    padding-right: 25px;
}

#padded-left {
    padding-left: 25px;
}

.shop-button {
    margin-top: 0.4em;
    padding-right: 20px;
}

.btn-unavailable,
.btn-unavailable:focus,
.btn-unavailable:active,
.btn-unavailable:hover {
    color: white;
    background-color: #808080;
    border-color: #808080;
}

.card-title {
    height: 30px;
}