body {
	color: #777!important;
	line-height: 1.8!important;
	font-family: "Lato", sans-serif!important;
}
p {
	font-size: 18px;
}
h2 {
	text-decoration: underline;
}
h3 {
	text-decoration: underline;
}
li {
	color: #fff;
	list-style: none;
	text-align: center;
}
li>a {
	color: #fff!important;
}

.navbar-toggler {
	order: 0;
}
.dropdown-menu a {
	color: black !important;
}
/*img {
    display: block;
    margin: 0 auto;
}*/
/*@media (min-width: 768px) {
.navbar-nav {
	text-align: center;
	float: none;
}	

.navbar-nav > li {
	display: inline-bloc	k;
	float: none;
}*/
/* Create a Parallax Effect */
.bgimg1, .bgimg2, .bgimg3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}
.bgimg1 {
	background-image: url(Images/headers_vinyl.jpg);
	min-height: 500px;
}
/*.bgimg2 {	
	background-image: url(Images/StarsWallpaper.jpg);
    min-height: 500px;
}
.bgimg3 {
	background-image: url(Images/CoffeeMacbookWallpaper.jpg);
    min-height: 500px;
}*/

/*.container-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}*/

/*.carousel-inner > .item > img {
    margin: 0 auto;
}*/

/*.display-middle {
	position:relative;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}*/

.prof-pic {
	border-radius: 50%;
	height: 250px;
	width: 250px;
}

.fa-mail:hover {
	color: #87CEEB!important;
	border-color: #87CEEB!important
}
.fa-linkedin:hover {
	color: #0077B5!important;
	border-color: #0077B5!important
}
.animate-fade {
	animation: fading 1.5s;
}
@keyframes fading {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.card-columns {
	column-count: 6;
}
/*.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}*/

/*.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}*/

/*@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 7;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 8;
    }
}*/

.card {
    margin: 10px;
    /*max-width: 200px;*/
    /*margin: auto;*/ /* Added */
    /*float: none;*/ /* Added */
    /*margin-bottom: 10px; /* Added */*/
    /*height: 200px;
  	width: 200px;*/
}

/*.card.card-img-top {
	height: 200px;
	width: 200px;
}*/
/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/
.dropdown-item {
	position: left;
	text-align: left !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}